* {
    margin: 0;
    padding: 0;
}

.contenedor{
    display: grid;
    font-family: sans-serif;
    height: 100vh;
    grid-template-areas:
        "header header header"
        "contenido contenido contenido"
        "footer footer footer";
    grid-template-columns:repeat(3, 1fr) ;
    grid-template-rows: repeat(4, 1fr) ;
}


/*se especifican las posiciones de las areas*/



.contenedor> * {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*nombrar areas*/

header{
    grid-area: header;
}


aside:first-of-type{
    grid-area: izquierda;
}

main{
    grid-area: contenido;
    flex-wrap: wrap;
}

aside:last-of-type{
    grid-area: derecha;
}

footer{
    grid-area: footer;
}

body{
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg%27%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%231a00ff' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
    color:orange;
}

.header{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23d5d7d1' fill-opacity='0.4' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
}


.imgLogo{
    height: 70px;
    width:  70px;
    transform: translate(-350px);
}

.mangaPanini{
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    text-align: center;
}

.mangaIvrea{
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    text-align: center;
}

.tcg{
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

.fig{
    flex-direction: column;
    text-align: center;
    
}

a{
    color: orange;
    text-decoration: none;
}

p{
    text-align: center;
}


.social{
    color: black;
    font-weight: bold;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:999;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

footer{
    background: rgb(249,255,223);
    background: linear-gradient(177deg, rgba(249,255,223,0.30575980392156865) 26%, rgba(248,254,179,0.14889705882352944) 35%, rgba(251,245,159,0.9360119047619048) 85%);
}

.social {
    margin: 50px;
    text-align: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    padding: 0 30px;
}
/*responsive tamaño celular */

@media screen and (max-width: 480px){

    .contenedor{
    grid-template-columns: 1fr;
    grid-template-rows: 0,5fr 0,5fr 0,5fr;
    grid-template-areas: 
    "header"
    "contenido"
    "footer";
}

.header{
    flex-direction:column;
    flex-wrap: wrap;
}

.social{
    color: black;
}


.imgManga{
    display: flex;
    flex-wrap: wrap;   
}


.footer{
    flex-direction: column;
    flex-wrap: wrap;
}

}

/*responsive tamaño tablet*/

@media screen and (max-width: 768px){

    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0,5fr 0,5fr 0,5fr;
        grid-template-areas: 
        "header header"
        "contenido contenido"
        "footer footer";
    }

    .header{
        flex-direction:column;
        flex-wrap: wrap;
    }

    .imgLogo{
        transform: none;
    }
     
    .social{
        color: black;
    }
    
    .footer{
        flex-direction: column;
        flex-wrap: wrap;
    
    }
}
